#page{
  *{
    color: white;
  }

  .row > * {
    padding-left: 5px;
    padding-right: 5px;
  }

  .title{
    margin-top: 40px;
  }

  .box{
    cursor: pointer;

    img{
      width: 100%;
    }
  }


  input{
    width: 100%;
    color: black;
  }
}



