@import './assets/style/toggle-group.scss';

html, body{
  height: 100%;
  background-color: #080808;
  user-select: none;
}

body {
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
